<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="filePath" value="C:\Data\ReportTracker" />
  </appSettings>
  <connectionStrings>
    <add name="REPORTSSQL" connectionString="Server=localhost\SQLEXPRESS;Database=REPORTSSQL;Trusted_Connection=True;"
      providerName="System.data.SqlClient" />
    <add name="REPORTSSQLEntities" connectionString="metadata=res://*/ModelADO.csdl|res://*/ModelADO.ssdl|res://*/ModelADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=REPORTSSQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="REPORTSSQLEntities1" connectionString="metadata=res://*/ModelPicture.csdl|res://*/ModelPicture.ssdl|res://*/ModelPicture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=REPORTSSQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="REPORTSSQLEntities2" connectionString="metadata=res://*/PictureDataSource.csdl|res://*/PictureDataSource.ssdl|res://*/PictureDataSource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=REPORTSSQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="REPORTSSQLEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\SQLEXPRESS;initial catalog=REPORTSSQL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TRACKERUI.Properties.Settings.REPORTSSQLConnectionString"
      connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=REPORTSSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>